body {
    background-color: white;
    font-family: "Georgia";
    margin: 0; /*afstand fra div-kant til skærm-kant*/
    padding: 0; /*afstand fra tekst til div-kant*/
}
header {
    background-image: url("img/fractal-full.png");
    background-size: 100%;
    color: hotpink;
    padding: 20px;
}

a {
    text-decoration: none;
}

header a {
    color: hotpink;
}
a:hover { /*the : refers to a pseudo-class. Underlines when u hover */
    text-decoration: underline;
}
li:hover {
    background-color: beige;
}
li:first-child{
    margin-left: 0;
}
.welcome {
    background-color: white;
    color: dimgray;
    padding: 20px;
}

.feature-box {
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: row;
}
.feature-box div {
    background-color: ivory;
    margin: auto;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: larger;

}
.apps {
    color: hotpink;
}
.apps a {
    color: hotpink;
}
.art {
    background-image: url("img/ayoartist.jpg");
    background-size: 50%;
    color: ivory;
}
.art a {
    color: ivory;
}
.electronics {
    background-image: url("img/valdesModular.jpg");
    background-size: 100%;
    color: hotpink;
}
.electronics a {
    color: ivory;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none; /*fjerne punkterne i listen*/
}
li {
    display: inline-block;
    margin-right: 20px; /*20px fra margen til første block*/
}

footer {
    color: hotpink;
    background-color: ivory;
    padding: 10px 20px;
}
.contact {
    padding: 20px;
    margin: 20px;
}
.music {
    padding: 20px;
    margin: 20px;
}
cv {
    background-color: white;
}
.cv p{
    padding-left: 20px;
    margin: 20px

}